@import url('https://fonts.googleapis.com/css?family=Nunito:400,600,700');

body {
  margin: 0;
  padding: 2em;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eee;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#book-list {
  list-style: none;
}
